{% extends 'ota/master.html' %} 

{% block title %}LAPiiS OTA Controller Demo - Firmware{% endblock %}

{% block content %}
<div>
    <h2>Firmware update</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Name
        <input type="text" name="name" maxlength="30"> <br>
        Firmware (.ino)
        <input type="file" name="firmware"> <br>
        Comment
        <input type="text" name="comment" maxlength="30"> <br>
        <button type="submit">Upload</button>
      </form>
</div>
{% endblock %}